---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>QECirc</title>
  </head>
  <body>
    <h1>QECirc</h1>
  </body>
</html>
